In [12]:
#esta es la edad de edgar
edad= 33

#este es el nombre de edgar
nombre= "edgar"

#estos son los datos de ale cuanto trabajaba en empresa x
pais_ale= "mexico"
nombre_ale= "ale"
fecha_ingreso= "2022-12-10"
edad_ale= 20

In [ ]:
#Tipos de datos en python
tipo_string= "str"   #str, Puenden ser comillas dobles "" o comillas simples ''
tipo_integer= -20    #int, pueden ser numeros positivos o negativos, y no incluyen decimales
tipo_float= 20.5     #float, pueden ser numeros positivos o negativos e incluyen decimales
tipo_booleano= True  #bool, puede ser True que es igual a "verdadero" o False que es igual a "falso"

In [19]:
#Uso de print usando comas, cuando utilizamos una coma se agrega un espacio intermedio
print("mi nombre es", nombre_ale, "y mi edad es", edad_ale)

mi nombre es ale y mi edad es 20

In [22]:
#Casting, conversion de tipos en python
edad_convertida_texto= str(edad)

print("mi nombre es " + nombre + " y mi edad es " + edad_convertida_texto)

mi nombre es edgar y mi edad es 33

In [ ]:
#Imprimir la edad convertida a texto y su tipo
print(edad_convertida_texto, type(edad_convertida_texto))

33 <class 'str'>

In [ ]:
#Imprimir la edad sin convertir y su tipo
print(edad, type(edad))

33 <class 'int'>

In [27]:
#Casting de tipo a texto
int_a_str= str(tipo_integer)
float_a_str= str(tipo_float)
bool_a_str= str(tipo_booleano)

In [28]:
#Imprimir los valores con un casting aplicado sobre ellos a tipo string
print(int_a_str, type(int_a_str))
print(float_a_str, type(float_a_str))
print(bool_a_str, type(bool_a_str))

-20 <class 'str'>
20.5 <class 'str'>
True <class 'str'>

In [ ]:
#Estas son variables string con valores int y float
int_string= "20"
float_string= "20.5"

In [30]:
#Casting de texto con valores numericos hacia su respectivo valor int y float
int_convertido= int(int_string)
float_convertido= float(float_string)

In [31]:
#Imprimir los valores con un casting que se aplico previamente sobre ellos
print(int_convertido, type(int_convertido))
print(float_convertido, type(float_convertido))

20 <class 'int'>
20.5 <class 'float'>

In [35]:
#Convertir los diferentes valores disponibles a bool true utilizando casting
str_bool= bool("True")
str_uno_bool= bool("1")
int_bool= bool(1)

In [39]:
#Convertir los diferentes valores disponibles a bool False utilizando casting
false_str_bool= bool("False")
str_cero_bool= bool("0")
int_cero_bool= bool(0)

In [42]:
int_cero_bool

False